*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.inputCss{
    width: 850px;
    margin: auto;
    padding-bottom: 10px;
}
#myInput{
    font-size: 16px;
    padding: 12px 20px 12px 11px;
    border: 1px solid #ddd;
}
h1{
    color: #ff0c0c;
    text-align: center;
    padding: 30px 0 45px 0;
    font-size: 40px;
    font-family: inherit;
}
#main{
    width: 850px;
    margin: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-family: arial, sans-serif;
    box-shadow: 1px 1px 5px #000;
}
thead{
    font-weight: bold;
    background-color: #000000;
    font-size: 15px;
    color: #ffffff;
    border: 1px solid #000000;
}
th{
    text-align: left;
    padding: 10px 10px 10px 15px; 
    cursor: pointer;
}
td{
    text-align: left;
    padding: 10px 10px 10px 15px; 
    font-size: 15px;
    color: #000000;
}
tr > td:nth-child(5){
    padding-left: 100px;
}
a{
    text-decoration: none;
}
.add{
    color: #0423fb ;
}
.delete{
    color: #ce0000 ;
    padding-left: 0px;
}
.text_add:hover{
    border-bottom: 1px solid #0423fb;
}
.text_del:hover{
    border-bottom: 1px solid #ce0000;
}
tbody > tr:nth-child(2){
    background-color: #dddddd;
    border: 1px solid #dddddd;
}
tbody > tr:nth-child(4){
    background-color: #dddddd;
    border: 1px solid #dddddd;
}
tbody > tr:nth-child(1){
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}
tbody > tr:nth-child(3){
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
}

th{
    position: relative;
}
/* Css arrow */
.arrowCss{
    color: #ffffff;
    padding: 3px 3px 0 3px;
}
.arrowCss:hover{
    color: #efcc24;
}
.arrow{
    display: inline-block;
    padding-left: 5px;
    font-size: 13px;
}
.arrow_down{
    position: absolute;
    top: 16px;
    left: 82px;
}
.arrow_up{
    position: absolute;
    top: 6px;
    left: 82px;
}